/* 全体のスタイル */
body {
    font-family: 'M PLUS 1p', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    color: #333;
    line-height: 1.6;
}

h2 {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px; /* 高さを幅と同じにして正方形に */
    background-color: #3200FF;
}

/* バナー */
.banner {
    background-color: #3200FF;
    color: white;
    text-align: left;
    padding: 15px 30px;
    font-size: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.banner_title {
    cursor: pointer;
}

.banner_title_phone {
    display: none;
}

.back-button {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #3200FF;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #3200FF;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #3200FF;
    color: white;
}

/* スクロールトップボタン */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3200FF;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.content {
    margin-top: 80px; /* バナーの高さ分のマージン */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    width: 0;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* テーブルに影を追加 */
    overflow: hidden; /* ボーダー内に収める */
}
th {
    background-color: #3200FF; /* ヘッダーの背景色を濃く */
    color: white; /* ヘッダーの文字色を白に */
    text-align: center; /* 文字を中央揃え */
    font-size: 18px; /* ヘッダーの文字サイズを調整 */
}

th.set {
    min-width: 90px; /* セルの最小幅を設定 */
}

td {
    padding: 10px;
    text-align: center; /* 文字を中央揃え */
    font-size: 16px; /* セルの文字サイズを調整 */
    font-weight: bold; /* セルの文字を太字に */
}
td:hover {
    background-color: #e6f0ff; /* ホバー時の背景色を柔らかい青に変更 */
}

/* リンクのスタイル */
a {
    color: #3200FF;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #0000FF;
    text-decoration: underline;
}

.icon {
    width: 55px; /* アイコンの幅を調整 */
    height: auto; /* 高さは自動調整 */
    margin-left: 15px; /* 左右の余白を調整 */
    margin-right: 15px;
}

.table-container {
    margin-top: 20px; /* バナーの高さ分のマージン */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    vertical-align: middle;
}

.head {
    display: flex;
    align-items: center;
    position: relative;
    color: #3200FF;
    font-size: 20px;
    font-weight: bold;
}

.head::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background-color: #3200FF;
    margin: 0 10px;
}

.save {
    background-color: #3200FF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    position: relative; /* 親要素内で中央配置 */
    left: 50%; /* 左端から50% */
    transform: translateX(-50%); /* 自身の幅の半分だけ左に移動 */
    margin-top: 20px; /* 上部に余白を追加 */
}

#upcomingBirthday {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.phone {
    display: none; /* デフォルトでは非表示 */
}

.pc {
    display: block; /* PCでは表示 */
}

/* メディアクエリ */
@media (max-width: 768px) {
    body {
        min-width: 100%;
        font-size: 14px; /* スマホ用フォントサイズ */
    }

    .banner {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .back-button {
        display: none;
    }

    #scrollToTopBtn {
        display: none;
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;
    }

    .banner_title {
        display: none;
    }

    .banner_title_phone {
        display: block;
    }

    .container {
        width: 100%;
        padding: 0 10px; /* スマホ用の余白を追加 */
    }

    .content {
        margin-top: 60px; /* バナーの高さ分のマージンを調整 */
        padding: 15px;
    }

    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table {
        min-width: 0; /* スマホでの表示に対応 */
    }

    .save {
        font-size: 12px; /* ボタンのフォントサイズを調整 */
        padding: 8px 16px;
    }

    .icon {
        width: 40px; /* アイコンの幅を調整 */
        margin-left: 10px; /* 左右の余白を調整 */
        margin-right: 10px;
    }

    th, td {
        font-size: 12px; /* セルの文字サイズを調整 */
    }

    th.set {
        min-width: 70px; /* セルの最小幅を設定 */
    }

    td {
        padding: 5px; /* セルのパディングを調整 */
    }

    .phone {
        display: block; /* スマホでは表示する */
    }

    .pc {
        display: none; /* PCでは非表示 */
    }
}